/*-------------------------------------------------------header / footer----------------------------------------------*/
header {
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 100%;
    text-align: center;
}
.logo1{
    display: none;
    width: 100%;
}
.logo2{
    width: 50%;
}
nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    width: 100%;
}
/*------------------------------------------------------------main----------------------------------------------*/
main
{
    background-color: darkgrey;
}
h3
{
    text-align: center;
}
.formulaire
{
    background-color: grey;

    width: 100%;
    text-align: center;
}
.feed
{
    width: 100%;
}
article
{
    background-color: white;
    border-style: solid;
    border-color: black;
    width: 100%;
    text-align: center;
}
.carrousel
{
    background-color: grey;
    border-style: solid;
    border-color: black;

   /* height: 100px;*/
}
.messageError
{
    border-style: solid;
    border-color: yellow;

}
@media screen and (min-width: 900px) {
    .logo2 {
        display: none;
    }
    .logo1 {
        display: block;
        margin: auto;
    }
}
@media screen and (min-width: 900px) {
    .feed {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    article{
        width: 49.3%;
    }
}