/*-------------------------------------------------------header / footer----------------------------------------------*/
header {
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 100%;
    text-align: center;
}
.logo1{
    display: none;
    width: 100%;
}
.logo2{
    width: 50%;
}
nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    width: 100%;
}
/*------------------------------------------------------------main----------------------------------------------*/
main
{
    background-color: darkgrey;
}
h3
{
    text-align: center;
}
.formulaire
{
    background-color: grey;

    width: 100%;
    text-align: center;
}
.feed
{
    width: 100%;
}
article
{
    background-color: white;
    border-style: solid;
    border-color: black;
    width: 100%;
    text-align: center;
}
.carrousel
{
    background-color: grey;
    border-style: solid;
    border-color: black;

}
.messageError
{
    border-style: solid;
    border-color: yellow;

}
@media screen and (min-width: 900px) {
    .logo2 {
        display: none;
    }
    .logo1 {
        display: block;
        margin: auto;
    }
}
@media screen and (min-width: 900px) {
    .feed {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    article{
        width: 49.3%;
    }
}
.carrousel{
    width: 100%;
}
/*.jcarousel {*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    width: 100%;*/
/*    height: 450px;*/
/*    margin: auto;*/
/*}*/
/*.jcarousel ul {*/
/*    width: 10000em;*/
/*    position: relative;*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/*.jcarousel li {*/
/*    !* Required only for block elements like <li>'s *!*/
/*    float: left;*/
/*}*/
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 1000px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    width: 500vw;
    max-width: 100%;
    height: auto !important;
}


