<!DOCTYPE html>
<html lang="fr">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/styleGallery.css">

    <title>Accueil</title>

</head>

<body>

<header>
    <div class="head" id="head">

        <img class="logo1" id="logo1" src="https://p5.storage.canalblog.com/58/69/118811/122220188_o.jpg">
        <img class="logo2" id="logo2"
             src="https://upload.wikimedia.org/wikipedia/fr/thumb/4/47/Logo_M%C3%A9t%C3%A9o_France_2016.svg/1200px-Logo_M%C3%A9t%C3%A9o_France_2016.svg.png">
    </div>
    <div class="dropdown">
        <button id="dropdownId" class="dropbtn">Menu</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="index.html">Accueil</a>
            <a href="gallery.html">Gallery</a>
            <a href="jeux.html">Games</a>
        </div>
    </div>
</header>

<main>
    <button id="row" >Row</button>
    <button id="column" >Column</button>
    <div class="row">
        <div class="column">
            <img class="img"src="../image/1.jpg">
            <img class="img"src="../image/2.jpg">
            <img class="img"src="../image/3.jpg">
            <img class="img"src="../image/4.jpg">
            <img class="img"src="../image/5.jpg">
            <img class="img"src="../image/6.jpg">
            <img class="img"src="../image/1.jpg">
            <img class="img"src="../image/1.jpg">
            <img class="img"src="../image/2.jpg">
            <img class="img"src="../image/3.jpg">
            <img class="img"src="../image/4.jpg">
            <img class="img"src="../image/5.jpg">
            <img class="img"src="../image/6.jpg">
            <img class="img"src="../image/1.jpg">

        </div>

    </div>
    <form id="mainForm">
        <input class="lienImg" type="lienImg" name="lienImg" id="lienImg" placeholder="renseigner un lien d'image">
        <button class="buttonLienImg" id="importImg" type="button">Envoyer l'image</button>
    </form>
</main>

<footer>
    <a href="" class="buttonMention"><p>Mentions legales</p></a>
    <a href="" class="buttonQuiSommesNous"><p>Qui sommes nous</p></a>
    <a href="" class="buttonReglement"><p>Reglement</p></a>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="../Script/scriptGallery.js"></script>
<script src="../Script/dropdown.js"></script>
</body>


</html>
